/* Body */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3.5em;
}

/* Nav */

.navbar-brand img {
    height: 50px;
    margin-left: 10px;
}

.nav-item a {
    color: #F2B613;
}

.nav-item a:hover {
    color: #68BA88;
}

.hero-section {
    background: url('/assets/images/beer-hero.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; 
    height: 500px;
}

.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 0;
}