/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* body */

.primary-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h5, h4, p {
    font-family: 'Source Sans Pro', sans-serif;
}

.yellow-section{
    background-color: #F2B613;
}

.text-yellow {
    color: #F2B613;
}

.grey-background {
    background-color: #212529;
    color: #F2B613;
}

/* Nav */

.navbar-brand img {
    height: 50px;
    margin-left: 10px;
}

.nav-item a {
    color: #F2B613;
    font-size: 1rem;
    margin-right: 25px;
}

.nav-item a:hover {
    color: #68BA88;
}

/* Hero Section */
/* The opaque overlay was inspired by the code institute whiskey website */
/* Image credit: grafvision from envato elements */
.hero-section {
    background: url('../images/beer-hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    width: 100%;

}

.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 0;
}

.callout h1, h3 {
    color: #F2B613;

}
.callout h1 {
    font-size: 3.5em;
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.callout h3 {
    font-size: 1.5em;
    padding-left: 50px;
    padding-top: 0;
    margin-top: 0;
    color: #F2B613;
}

  /* Testimonial */

  /* The testimonial section was inspired by tindog website */ 
  .testimonial-section h2, h3, p {
    color: #212529;
  } 

.testimonial-section{
    padding-top: 10px;
    padding-bottom: 0;
    min-height: 360px;
}

.testimonial-section h2{
    font-size: 2.5em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.testimonial h3{
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 15px;
}    

.testimonial-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

.testimonial-section p{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
    font-style: italic;
    color: #212529;
}

/* Button's */

/* the buttons were both made using cssbuttoncreator.com */

.button-main {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #212529;
    font-size: 1.5em;
    background: #F2B613;
    padding: 12px 25px 12px 25px;
    border: solid #212529 2px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 50px;
  }
  
  .button-main:hover {
    background: #68BA88;
    text-decoration: none;
  }

  .button-form {
    margin: 0 auto;
  }

/* Our Story Carousel */

.our-story-item{
    height: 500px;
}

.our-story-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.our-story-caption h3, h5, p {
    color: #F2B613; 
}

.our-story-caption h3{
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 2.8rem;
    color: #F2B613;
    position: relative;
}

.our-story-caption h5{
    font-size: 1.8rem;
    color: #F2B613;
    padding-bottom: 5px;
}

.our-story-caption p{
    font-size: 1rem;
    font-style: italic;
    color: #F2B613;
    padding-bottom: 50px;
}

/* Events Section */

.event-section{
    margin: 0;
}

.event-section h2{
    font-size: 3.5em;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dim-image {
    filter: brightness(90%);
}

.event-image-grid{
    --gap: 5px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.event-image-grid h3 {
    padding: 10px;
    font-size: 2.5rem;
}

.event-img-main {
    grid-row: span 2;
    grid-column: span 2;
}

.grid-image {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    background-position: center;
}

.grid-image > h3:hover{
    color: #68BA88;
}

.event-img-1 {
    background-image: url("../images/beer-pour.jpg");
}

.event-img-2 {
    background-image: url("../images/beer-of-week.webp");
}

.event-img-3 {
    background-image: url("../images/comedy-night.webp");
}

.event-img-4 {
    background-image: url("../images/rocker.webp");
}

.event-img-5 {
    background-image: url("../images/taco-tuesday.webp");
}

/* How to find us */

.how-to-find-us-section{
    min-height: 600px;
}


/* Book a Table Form */

.form-section {
    min-height: 1000px;
    background-color: #F2B613;
}

.form-header h1{
    font-size: 2.5rem;
    color: #212529;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.form-container{
    background-color: #212529;
    width: 650px;
    color: #F2B613;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}
.client-details{
    margin-top: 10px;
    font-family: 'Source Pro Sans', sans-serif;
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    border: 3px solid #68BA88;
    border-radius: 6px;
}

input:hover{
    border-color: #F2B613;
}

/* Footer */

.footer-section {
    background-color: #212529;
    align-items: center;
    min-height: 300px;
}

#footer-img {
    height: 60px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer h5{
    color: #F2B613;
    font-size: 2.5em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.social {
    text-align: center;
}
.social-links {
    color: #F2B613;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.social-links:hover {
    color: #68BA88;
}

.social-row {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

.copyright {
    text-align: center;
    padding-top: 20px;
}

/* Error 404 page */

.error404-section {
    height: 500px;
    text-align: center;
}

.error404-section h1 {
    text-align: center;
    padding-top: 100px;
}

.error-button {
    margin: 50px auto;
    background-color: #212529;
    color: #F2B613;
}

.error-button:hover {
    color: #212529;
}
/* Media Queries */

@media only screen and (max-width: 767px)
{   

    .hero-section {
       min-height: 30vh;
       
    }

    .callout h1, .callout h3, .event-section h2, .how-to-find-us-section h2{
        padding-left: 5px;
    }

    .button-main {
        margin-left: 5px;
      }

      .our-story-caption h3{
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 1.5rem;
    }

    .our-story-caption p, .our-story-caption h5{
        font-size: 1.2rem;
    }
    
    .how-to-find-us-section{
        min-height: 500px;
}
    .how-to-find-us-section h4{
        padding-bottom: 5px;
  }

    address {
        padding-left: 20px;
        padding-top: 20px;
}

    .how-to-find-us-section h2{
        padding-bottom: 20px;
}

    .form-container{
        width: 90%;
}

    .testimonial h3{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .event-image-grid{
        display: block;
}

    .grid-image {
    min-height: 300px;
    margin-bottom: 5px;
    overflow-x: hidden;
}

}

@media only screen and (min-width:767px) and (max-width: 1023px) {

    .testimonial h3{
        padding-left: 10px;
    }    

}